<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vistas Learning</title>
<link rel="shortcut icon" href="https://vistaslearning.com/favicon.ico">
</head>
<body>
	<h1 style="text-align: center;">Vistas Learning App</h1>
	<p style="text-align: center;">This application is successfully deployed.</p>
	<p id="created" style="text-align: center;" th:text="${systemDateTime}">Mon October 19 2020 10:25:50 IST</p>
	<h3 style="text-align: center;" th:text="${version}">1.0.0</h3>
	<h3 style="text-align: center;font-weight: 600;">SUCCESS</h3>
</body>
</html>